@import "theme/custom.scss";

@media screen and (max-width: 576px) {
  .chatroom-wrapper {
    .chatroom {
      .room-title {
        @include typography(1.0rem, "semibold");
      }

      .room-content {
        padding-left: 1rem;
        padding-right: 1rem;
      }
  
    }
  }
}

@media screen and (min-width: 576px) {
  .chatroom-wrapper {
    .chatroom {
      .room-title {
        @include typography(1.2rem, "semibold");
      }

      .room-content {
        padding-left: 2rem;
        padding-right: 2rem;
      }
  
    }
  }
}
  

.chatroom-wrapper {
  height: calc(100vh - 3.5rem);
  .chatroom {
    background-color: rgba(54, 57, 63);
    flex: 1;
    flex-grow: 1;
    position: relative;

    .room-title {

      color: white;
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      // z-index: 1000;
      background: rgba(54, 57, 63);
    }

    .room-content {
      flex: 1;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .scroll-to{
      bottom: 6rem;
      right: 1rem;
    }
  }
}