@import "theme/custom.scss";

@media screen and (max-width: 576px) {
  .chatroom-wrapper {
    .chatroom {
      .room-title {
        @include typography(1rem, "semibold");
      }

      .room-content {
        padding-left: 1rem;
        padding-right: 1rem;
        min-height: calc(100vh - 3.5rem);
      }
    }
  }

  .input-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(54, 57, 63);
  }
  
  .scroll-to {
    bottom: 10rem;
    right: 1rem;
  }
}

@media screen and (min-width: 576px) {
  .chatroom-wrapper {
    height: calc(100vh - 3.5rem);
    .chatroom {
      .room-title {
        @include typography(1.2rem, "semibold");
      }

      .room-content {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0.5rem;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  }

  .scroll-to {
    bottom: 12rem;
    right: 1rem;
  }
}

.chatroom-wrapper {
  .chatroom {
    background-color: rgba(54, 57, 63);
    flex: 1;
    flex-grow: 1;
    position: relative;

    .room-title {
      color: white;
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      // z-index: 1000;
      background: rgba(54, 57, 63);
    }

    .room-content {
      flex: 1;
      // overflow-y: scroll;
      // overflow-x: hidden;
      padding-top: 0.5rem;
    }


  }
}

.bg-chat{
  background-color: rgba(54, 57, 63) !important;
}

.bg-room{
  background-color: rgba(30, 30, 30) !important;
}

.border-bottom-chat {
  border-bottom: 1px solid rgb(54, 57, 63) !important;
}

.opacity-toast {
  background-color: rgba(54, 57, 63, 0.8) !important;
}

.Toastify__toast {
  min-height: 3.5rem !important;
  @include typography(1rem, "regular");
}

.Toastify__progress-bar-theme--colored{
  background-color: black !important;
}