@import "theme/custom.scss";

@media screen and (max-width: 576px) {
  .chat-bubble{
    max-width: 60%;
  }
}

@media screen and (min-width: 576px) {
  .chat-bubble{
    max-width: 40%;
  }
}
  


.chat-bubble {
  @include typography(1rem, "regular");
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-left: 2.5rem;
  color: #333;

  .message{
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
  }
}

.date {
  @include typography(0.75rem, "regular");
  color: #999;
}

textarea:focus,
input:focus {
  outline: none !important;
  box-shadow: none !important;
}