@import "theme/custom.scss";

@media screen and (min-width: 576px) {
  .ps-5rem {
    padding-left: 5rem;
  }

  .ps-20rem {
    padding-left: 20rem;
  }
}

@media screen and (max-width: 576px) {
  .ps-5rem {
    padding-left: 0vw;
  }

  .ps-20rem {
    padding-left: 100vw;
  }
}

.current {
  @include typography(1rem, "semibold");
}

.footer{
  background-color: rgba(#fff, 0.5);
  backdrop-filter: blur(5px);
  border-top-left-radius: 0.5rem;
}

.user { 
  @include typography(0.75rem, "semibold");
}