$gradient: radial-gradient(
  75.85% 1390.64% at 80.98% 15.69%,
  #287194 0%,
  rgba(40, 113, 148, 0.73) 100%
);

$basic-icon: #7d7d7d;
$basic-line: #e0e0e0;
$basic-white: #ffffff;

$font-1: black;
$font-2: #757575;
$font-3: #bdbdbd;

$primary: #15202B;
$secondary: rgba(40, 113, 148, 0.03);
$primary-10: rgba(40, 113, 148, 0.1);
$primary-13: rgba(40, 113, 148, 0.13);
$primary-30: rgba(40, 113, 148, 0.3);

$text-primary: rgb(247, 249, 249);

$border-light: rgba(255, 255, 255, 0.4);

$code: rgb(80, 80, 80);

$app-success: #28a745;
$app-danger: #dc3545;
$app-warning: #ffc107;
$app-background: #f7f9fb;

$badge-green: #63bab5;
$badge-green-background: #eafaf9;
$badge-red: #c65d6f;
$badge-red-background: #faebee;
$badge-orange: #d39549;
$badge-orange-background: #fcf4e9;
$badge-grey: white;
$badge-grey-background: #6a6a6a;